<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.User">
        <!--    <constructor-arg index="0" value="秋分"/>-->
        <!--    <constructor-arg type="java.lang.String" value="秋分"/>-->
        <constructor-arg name="name" value="秋分"/>
    </bean>
    <bean id="userT" class="com.qiufen.pojo.UserT"/>
    <alias name="user" alias="userNew"/>
</beans>